<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">

        <div class="bg-light p-4 mt-4 rounded-3 border">
            <h1 class="display-5 fw-bold">Contact us</h1>
            <p class="w-responsive mx-auto mb-5">
                Do you have any questions?
                Please do not hesitate to contact us directly.
            </p>
        </div>

        <div class="row bg-light p-4 mt-4 rounded-3 border">
            <div class="col-md-9 mb-md-0 mb-5">

                <form th:action="@{/contact}" th:object="${contactUsModel}" method="post" class="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="name" class="">Your name</label>
                                <input type="text" id="name" name="name" class="form-control" th:field="*{name}" placeholder="Name" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="">Your email</label>
                                <input type="text" id="email" name="email" class="form-control" th:field="*{email}" placeholder="Email" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="subject" class="">Subject</label>
                                <input type="text" id="subject" name="subject" class="form-control" th:field="*{subject}" placeholder="Subject" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message">Your message</label>
                                <textarea id="message"
                                          name="message" rows="2"
                                          class="form-control md-textarea"
                                          th:field="*{message}"></textarea>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>

            </div>

            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p><a href="mailto:top.ten.ranker@gmail.com">top.ten.ranker@gmail.com</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mt-4 rounded-3"
             th:style="'background-image: url(' + @{/static/bg} + ' ); background-size: 100% 100%; min-height:600px; border: 1px solid #000;'">
        </div>

    </div>
</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">
    $(document).ready(function() {
        console.log("Ready!");
    })
    </script>
</th:block>


</body>
</html>