<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">

        <div class="bg-light p-4 mt-4 rounded-3 row">
            <h1 class="display-5 fw-bold">Contact us</h1>
            <p class="w-responsive mx-auto mb-5">
                Do you have any questions?
                Please do not hesitate to contact us directly.
            </p>
        </div>


        <div class="bg-light p-4 mt-4 rounded-3 row" style=" border: 1px solid #000;">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <a class="btn btn-primary" id="submit-form">Send</a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>top.ten.ranker@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>


    </div>
</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">
    $(document).ready(function() {
        console.log("Ready!");

        $("#submit-form").click(function(){
            alert("Soon very soon!");
        });
    })
    </script>
</th:block>


</body>
</html>