<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>


<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container justify-content-center">
                <i class='fas fa-basketball-ball' style='font-size:24px; color:white'></i>
                <span class="navbar-brand mb-0 h1">Rank NBA Greatest</span>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a href="/" class="nav-item nav-link">Players</a>
                        <a href="/ranking" class="nav-item nav-link">Ranking</a>
                        <a href="#" class="nav-item nav-link disabled">Social</a>
                        <a href="#" class="nav-item nav-link disabled">Login</a>
                    </div>

                    <form id="select-player-header-form" method="get" class="col-md-4" role="search">
                        <select id="player-search-header" class="form-select me-4">
                            <option value="">Search player</option>
                        </select>
                    </form>
                    <div>
                        <div sec:authorize="isAuthenticated()">
                            Authenticated as <span sec:authentication="name"></span></div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>


</body>
</html>