<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Autocomplete</title>

    <link th:rel="stylesheet" th:href="@{/assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Top Ten - Rank Greatest NBA Playes of ALL Time</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Rank<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ranking">My Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">

        <form method="post" id="select-player-form" th:object="${homePageModel}">
            <div class="form-group">
                <select id="player" class="form-control" th:field="*{playerItem}">
                    <option value="">Search player</option>
                </select>
            </div>
        </form>

        <hr class="my-4">

        <div th:if="${player}">

            <div class="card mb-3">
                <div class="row g-0 border">
                    <div class="col-md-2">
                        <img th:if="${player.playerInfo.imageUrl}"
                             class="img-fluid rounded-start"
                             itemscope="image"
                             th:src="${player.playerInfo.imageUrl}"
                             alt="Photo of ${player.playerInfo.fullName}">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${player.playerInfo.fullName}"></h3>
                            <table class="table card-text">
                                <tbody>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td><span th:text="${player.playerInfo.DOB}"/</td>
                                </tr>
                                <tr>
                                    <th scope="row">Years Active</th>
                                    <td><span th:text="${player.playerInfo.yearsActive}"/></td>
                                </tr>
                                <tr>
                                    <th scope="row">Active</th>
                                    <td><span th:text="${player.playerInfo.active}"/></td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="card-text"><small class="text-muted">Last updated <span
                                    th:text="${player.updateDateTime}"/></small></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h3 class="card-title">Rank</h3>

                            <table class="table card-text">
                                <tbody>
                                <tr>
                                    <th scope="row">Average</th>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <th scope="row">High</th>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <th scope="row">Low</th>
                                    <td>22</td>
                                </tr>
                                <tr class="table-primary">
                                    <th scope="row">Yours</th>
                                    <td>

                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <span th:if="${rankingItem}" th:text="${rankingItem.rank}"/>
                                                <span th:unless="${rankingItem}" th:text="unranked"/>
                                            </a>

                                            <div class="dropdown-menu">
                                                <div class="dropdown-header">Rank Player</div>
                                                <div class="dropdown-item">
                                                    <!-- Default value -->
                                                    <span id="rangeval"
                                                          th:text="${rankingItem!=null ? rankingItem.rank : '50'} "/>

                                                    <input type="range" class="form-control-range"
                                                           min="1"
                                                           max="75"
                                                           id="ranking-value"
                                                           onInput="$('#rangeval').html($(this).val())">
                                                </div>
                                                <div class="dropdown-item">
                                                    <button id="set-ranking" type="button"
                                                            class="btn btn-link float-left">Set
                                                    </button>
                                                    <button id="remove-ranking" type="button"
                                                            class="btn btn-link float-right">Remove
                                                    </button>
                                                </div>
                                            </div>


                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-sm">
                <caption>Achievements</caption>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Award</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Championships</th>
                    <td th:if="${player.achievements.championshipsAba > 0}"
                        th:text="${player.achievements.championships} + ' NBA ' + ${player.achievements.championshipsAba} + ' ABA'">
                    </td>
                    <td th:if="${player.achievements.championshipsAba == 0}"
                        th:text="${player.achievements.championships}"></td>
                </tr>
                <tr>
                    <th scope="row">Finals Mvp</th>
                    <td th:text="${player.achievements.finalsMvp}"></td>
                </tr>
                <tr>
                    <th scope="row">MVP</th>
                    <td th:text="${player.achievements.leagueMvp}"></td>
                </tr>
                <tr th:if="${player.achievements.scoringChamp > 0}">
                    <th scope="row">Scoring Champ.</th>
                    <td th:text="${player.achievements.scoringChamp}"></td>
                </tr>
                <tr th:if="${player.achievements.reboundChamp > 0}">
                    <th scope="row">Rebound Champ.</th>
                    <td th:text="${player.achievements.reboundChamp}"></td>
                </tr>
                <tr th:if="${player.achievements.assistChamp > 0}">
                    <th scope="row">Assist Champ.</th>
                    <td th:text="${player.achievements.assistChamp}"></td>
                </tr>
                <tr th:if="${player.achievements.stealsChamp > 0}">
                    <th scope="row">Steal Champ.</th>
                    <td th:text="${player.achievements.stealsChamp}"></td>
                </tr>
                <tr th:if="${player.achievements.blocksChamp > 0}">
                    <th scope="row">Block Champ.</th>
                    <td th:text="${player.achievements.blocksChamp}"></td>
                </tr>
                <tr th:if="${player.achievements.defensivePlayerOfTheYear > 0}">
                    <th scope="row">DPOY</th>
                    <td th:text="${player.achievements.defensivePlayerOfTheYear}"></td>
                </tr>
                <tr th:if="${player.achievements.allNba > 0}">
                    <th scope="row">All NBA</th>
                    <td th:text="${player.achievements.allNba}"></td>
                </tr>
                <tr th:if="${player.achievements.allDefensive > 0}">
                    <th scope="row">All Defensive</th>
                    <td th:text="${player.achievements.allDefensive}"></td>
                </tr>
                <tr th:if="${player.achievements.allStar > 0}">
                    <th scope="row">All Star</th>
                    <td th:text="${player.achievements.allStar}"></td>
                </tr>
                <tr th:if="${player.achievements.allStarMvp > 0}">
                    <th scope="row">All Star MVP</th>
                    <td th:text="${player.achievements.allStarMvp}"></td>
                </tr>
                <tr th:if="${player.achievements.rookieOfTheYear > 0}">
                    <th scope="row">ROY</th>
                    <td th:text="${player.achievements.rookieOfTheYear}"></td>
                </tr>
                <tr th:if="${player.achievements.mostImprove > 0}">
                    <th scope="row">Most Improved</th>
                    <td th:text="${player.achievements.mostImprove}"></td>
                </tr>
                </tbody>
            </table>


            <table class="table table-striped table-hover ">
                <caption>Career stats</caption>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Per Game</th>
                    <th scope="col">Points</th>
                    <th scope="col">Assists</th>
                    <th scope="col">Rebounds</th>
                    <th scope="col">Steels</th>
                    <th scope="col">Blocks</th>
                    <th scope="col">Turnovers</th>
                    <th scope="col" title="Player Efficiency Rating">PER</th>
                    <th scope="col" title="Win Shares /48 minutes">WS/48</th>
                    <th scope="col" title="Box Plus/Minus">BPM</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Regular season</th>
                    <td th:text="${player.careerPerGame.ptsPerGame}"></td>
                    <td th:text="${player.careerPerGame.astPerGame}"></td>
                    <td th:text="${player.careerPerGame.trbPerGme}"></td>
                    <td th:text="${player.careerPerGame.stlPerGame}"></td>
                    <td th:text="${player.careerPerGame.blkPerGame}"></td>
                    <td th:text="${player.careerPerGame.tovPerGame}"></td>
                    <td th:text="${player.careerPerGame.per}"></td>
                    <td th:text="${player.careerPerGame.wsPer48}"></td>
                    <td th:text="${player.careerPerGame.bpm}"></td>
                </tr>
                <tr>
                    <th scope="row">Playoff</th>
                    <td th:text="${player.playoffsPerGame.ptsPerGame}"></td>
                    <td th:text="${player.playoffsPerGame.astPerGame}"></td>
                    <td th:text="${player.playoffsPerGame.trbPerGme}"></td>
                    <td th:text="${player.playoffsPerGame.stlPerGame}"></td>
                    <td th:text="${player.playoffsPerGame.blkPerGame}"></td>
                    <td th:text="${player.playoffsPerGame.tovPerGame}"></td>
                    <td th:text="${player.playoffsPerGame.per}"></td>
                    <td th:text="${player.playoffsPerGame.wsPer48}"></td>
                    <td th:text="${player.playoffsPerGame.bpm}"></td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>


            <table class="table table-striped table-hover ">
                <caption>Shooting</caption>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Per Game</th>
                    <th scope="col" title="Field Goal Percentage">FG%</th>
                    <th scope="col" title="Free Throws Percentage">FT%</th>
                    <th scope="col" title="3-Point Field Goal Percentage">3P%</th>
                    <th scope="col" title="Effective Field Goal Percentage">eFG%</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Regular season</th>
                    <td th:text="${player.careerPerGame.fgPct}"></td>
                    <td th:text="${player.careerPerGame.ftPct}"></td>
                    <td th:text="${player.careerPerGame.fg3Pct}"></td>
                    <td th:text="${player.careerPerGame.efgPct}"></td>
                </tr>
                <tr>
                    <th scope="row">Playoff</th>
                    <td th:text="${player.playoffsPerGame.fgPct}"></td>
                    <td th:text="${player.playoffsPerGame.ftPct}"></td>
                    <td th:text="${player.playoffsPerGame.fg3Pct}"></td>
                    <td th:text="${player.playoffsPerGame.efgPct}"></td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>


        </div>
    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/select2-develop/dist/js/select2.full.js}"></script>

<script th:inline="javascript">
/*<![CDATA[*/

    var playerItem = /*[[${homePageModel.playerItem}]]*/ "";
    console.log(playerItem);

    $("#set-ranking").click(function() {
       $.ajax({
            url: "/ranking/" + playerItem,
            data: {
                "ranking": $("#ranking-value").val()
            },
            cache: false,
            type: "POST",
            success: function(response) {
                console.log("Yea!");
            },
            error: function(xhr) {
                console.log("Ho no...");
            }
        });
    });

    $("#remove-ranking").click(function() {
       $.ajax({
            url: "/ranking/" + playerItem,
            cache: false,
            type: "DELETE",
            success: function(response) {
                console.log("Yea!");
            },
            error: function(xhr) {
                console.log("Ho no...");
            }
        });
    });

    $("#player").select2({
        theme: "bootstrap4",
        templateResult: formatPlayerItem,
        placeholder: {
            id: playerItem, // the value of the option
            text: 'Select an option'
          },
        ajax: {
            url: '/players',
            dataType: 'json',
            delay: 250,
            processResults: function (response) {
                return {
                    results: response
                };
            },
            cache: true
        }
    }).change(function(){
        $('#select-player-form').submit();
    }).val(playerItem);


    function formatPlayerItem (player) {
      var $player = $(
        '<span><img src="' + player.imageUrl + '" /> ' + player.text + '</span>'
      );
      return $player;
    };

/*]]>*/



</script>

</body>
</html>