<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">


            <div class="bg-light me-4 p-5 rounded-3">
                <h1 class="display-5 fw-bold">Hi,</h1>
                <div>
                    <br>Log-in using one of the supported social networks.
                    <br>Once logged-in you'll be able to:

                    <ul class="" style="margin-top:10px;">
                        <li>Create your own Ranking List to show off</li>
                        <li>View players stats and rank them</li>
                        <li>Vote on other list</li>
                        <li>Comment on other list</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <a class="btn btn-lg btn-block btn-primary mb-2"
                       style="background-color: #dd4b39;"
                       th:href="@{/oauth2/authorization/google}"
                       type="submit"><i class="fab fa-google me-2"></i> Sign in with google</a>

                    <a class="btn btn-lg btn-block btn-primary mb-2"
                       style="background-color: #3b5998;"
                       th:href="@{/oauth2/authorization/facebook}"
                       type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</a>

                </div>
            </div>

            <div class="mt-4 rounded-3"
                 th:style="'background-image: url(' + @{/static/bg} + ' ); background-size: 100% 100%; min-height:600px; border: 1px solid #000;'">
            </div>

    </div>
</div>


<th:block layout:fragment="script"></th:block>


</body>
</html>