<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Autocomplete</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Autocomplete</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Select Player</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Player<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h2 class="mt-5">
        <img itemscope="image" th:src="${player.playerInfo.imageUrl}" alt="Photo of ${player.playerInfo.fullName}">
        <strong th:text="${player.playerInfo.fullName}"></strong>
    </h2>


    <table class="table table-hover">
        <caption>Achievements</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Award</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Championships</th>
            <td th:if="${player.achievements.championshipsAba > 0}"
                th:text="${player.achievements.championships} + ' NBA ' + ${player.achievements.championshipsAba} + ' ABA'">
            </td>
            <td th:if="${player.achievements.championshipsAba == 0}"
                th:text="${player.achievements.championships}"></td>
        </tr>
        <tr>
            <th scope="row">Finals Mvp</th>
            <td th:text="${player.achievements.finalsMvp}"></td>
        </tr>
        <tr>
            <th scope="row">MVP</th>
            <td th:text="${player.achievements.leagueMvp}"></td>
        </tr>
        <tr th:if="${player.achievements.scoringChamp > 0}">
            <th scope="row">Scoring Champ.</th>
            <td th:text="${player.achievements.scoringChamp}"></td>
        </tr>
        <tr th:if="${player.achievements.reboundChamp > 0}">
            <th scope="row">Rebound Champ.</th>
            <td th:text="${player.achievements.reboundChamp}"></td>
        </tr>
        <tr th:if="${player.achievements.assistChamp > 0}">
            <th scope="row">Assist Champ.</th>
            <td th:text="${player.achievements.assistChamp}"></td>
        </tr>
        <tr th:if="${player.achievements.stealsChamp > 0}">
            <th scope="row">Steal Champ.</th>
            <td th:text="${player.achievements.stealsChamp}"></td>
        </tr>
        <tr th:if="${player.achievements.blocksChamp > 0}">
            <th scope="row">Block Champ.</th>
            <td th:text="${player.achievements.blocksChamp}"></td>
        </tr>
        <tr th:if="${player.achievements.defensivePlayerOfTheYear > 0}">
            <th scope="row">DPY</th>
            <td th:text="${player.achievements.defensivePlayerOfTheYear}"></td>
        </tr>
        <tr th:if="${player.achievements.allNba > 0}">
            <th scope="row">All NBA</th>
            <td th:text="${player.achievements.allNba}"></td>
        </tr>
        <tr th:if="${player.achievements.allDefensive > 0}">
            <th scope="row">All Defensive</th>
            <td th:text="${player.achievements.allDefensive}"></td>
        </tr>
        <tr th:if="${player.achievements.allStar > 0}">
            <th scope="row">All Star</th>
            <td th:text="${player.achievements.allStar}"></td>
        </tr>
        <tr th:if="${player.achievements.allStarMvp > 0}">
            <th scope="row">All Star MVP</th>
            <td th:text="${player.achievements.allStarMvp}"></td>
        </tr>
        <tr th:if="${player.achievements.rookieOfTheYear > 0}">
            <th scope="row">ROY</th>
            <td th:text="${player.achievements.rookieOfTheYear}"></td>
        </tr>
        <tr th:if="${player.achievements.mostImprove > 0}">
            <th scope="row">Most Improved</th>
            <td th:text="${player.achievements.mostImprove}"></td>
        </tr>
        </tbody>
    </table>


    <table class="table table-striped table-hover ">
        <caption>Career stats</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Per Game</th>
            <th scope="col">Points</th>
            <th scope="col">Assists</th>
            <th scope="col">Rebounds</th>
            <th scope="col">Steels</th>
            <th scope="col">Blocks</th>
            <th scope="col">Turnovers</th>
            <th scope="col" title="Player Efficiency Rating">PER</th>
            <th scope="col" title="Win Shares /48 minutes">WS/48</th>
            <th scope="col" title="Box Plus/Minus">BPM</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Regular season</th>
            <td th:text="${player.careerPerGame.ptsPerGame}"></td>
            <td th:text="${player.careerPerGame.trbPerGme}"></td>
            <td th:text="${player.careerPerGame.astPerGame}"></td>
            <td th:text="${player.careerPerGame.stlPerGame}"></td>
            <td th:text="${player.careerPerGame.blkPerGame}"></td>
            <td th:text="${player.careerPerGame.tovPerGame}"></td>
            <td th:text="${player.careerPerGame.per}"></td>
            <td th:text="${player.careerPerGame.wsPer48}"></td>
            <td th:text="${player.careerPerGame.bpm}"></td>
        </tr>
        <tr>
            <th scope="row">Playoff</th>
            <td th:text="${player.playoffsPerGame.ptsPerGame}"></td>
            <td th:text="${player.playoffsPerGame.trbPerGme}"></td>
            <td th:text="${player.playoffsPerGame.astPerGame}"></td>
            <td th:text="${player.playoffsPerGame.stlPerGame}"></td>
            <td th:text="${player.playoffsPerGame.blkPerGame}"></td>
            <td th:text="${player.playoffsPerGame.tovPerGame}"></td>
            <td th:text="${player.playoffsPerGame.per}"></td>
            <td th:text="${player.playoffsPerGame.wsPer48}"></td>
            <td th:text="${player.playoffsPerGame.bpm}"></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>


    <a th:href="@{/}" class="btn btn-primary">Go back</a>
</div>

</body>
</html>