<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">

        <div th:if="${player}" class="p-4 mt-4 bg-light rounded-3">

            <form id="update-rank-form" method="post" action="/ranking/">
                <input type="hidden" id="playerId" name="playerId">
                <input type="hidden" id="rank" name="rank">
            </form>

            <div class="card mb-3">
                <div class="row g-0 border">
                    <div class="col-md-2">
                        <img th:if="${player.playerInfo.imageUrl}"
                             class="img-fluid rounded-start"
                             itemscope="image"
                             th:src="${player.playerInfo.imageUrl}"
                             alt="Photo of ${player.playerInfo.fullName}" src="">
                    </div>

                    <div class="col-md-5">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${player.playerInfo.fullName}"></h3>
                            <table class="table card-text">
                                <tbody>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td><span th:text="${player.playerInfo.DOB}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Years Active</th>
                                    <td><span th:text="${player.playerInfo.yearsActive}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Games Played (Season)</th>
                                    <td><span th:text="${player.getCareerPerGame.games}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Is Active</th>
                                    <td><span th:text="${player.playerInfo.active}"></span></td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated <span th:text="${player.updateDateTime}"></span>
                                </small>
                            </p>
                        </div>
                    </div>

                    <div th:unless="${player.eligibleForSaving}" class="col-md-5">
                        <div class="card-body">
                            <h3 class="card-title">Ranking</h3>
                            <span class="card-text">This player is not eligible for Ranking</span>
                        </div>
                    </div>

                    <div th:if="${player.eligibleForSaving}" class="col-md-5">
                        <div class="card-body">
                            <h3 class="card-title">Ranking</h3>
                            <table class="table card-text">
                                <tbody>
                                <tr>
                                    <th scope="row">Average</th>
                                    <td>
                                        <span th:if="${statistics.isValid}" th:text="${statistics.rankAverage}"></span>
                                        <span th:unless="${statistics.isValid}" th:text="'N/A'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">High</th>
                                    <td>
                                        <span th:if="${statistics.isValid}" th:text="${statistics.rankHigh}"></span>
                                        <span th:unless="${statistics.isValid}" th:text="'N/A'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Low</th>
                                    <td>
                                        <span th:if="${statistics.isValid}" th:text="${statistics.rankLow}"></span>
                                        <span th:unless="${statistics.isValid}" th:text="'N/A'"></span>
                                    </td>
                                </tr>
                                <tr class="table-primary">
                                    <th scope="row">Yours</th>
                                    <td>
                                        <div>
                                            <span>
                                                <span id="ex6SliderVal"
                                                      th:text="${rankingItem} ? ${rankingItem.rank} : 'unranked'"></span>
                                            </span>

                                            <hr class="my-1">
                                            <input id="ex6" type="text"
                                                   data-slider-min="1"
                                                   data-slider-max="50"
                                                   data-slider-step="1"
                                                   th:data-slider-value="${rankingItem!=null ? rankingItem.rank : '50'}"
                                                   data-slider-tooltip="hide"/>

                                            <button id="set-ranking"
                                                    type="button"
                                                    class="btn btn-link"
                                                    th:attr="onclick=|updateRank('${player.uniqueName}')|">Set
                                            </button>
                                            |
                                            <button id="remove-ranking" type="button"
                                                    class="btn btn-link"
                                                    th:attr="onclick=|removeRank('${player.uniqueName}')|">Remove
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0 border">
                    <div class="col-md-3">
                        <div class="card-body">
                            <table class="table table-striped table-hover table-sm">
                                <caption>Achievements</caption>
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">Award</th>
                                    <th scope="col">#</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Championships</th>
                                    <td th:if="${player.achievements.championshipsAba > 0}"
                                        th:text="${player.achievements.championships} + ' NBA ' + ${player.achievements.championshipsAba} + ' ABA'">
                                    </td>
                                    <td th:if="${player.achievements.championshipsAba == 0}"
                                        th:text="${player.achievements.championships}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Finals Mvp</th>
                                    <td th:text="${player.achievements.finalsMvp}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">MVP</th>
                                    <td th:text="${player.achievements.leagueMvp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.scoringChamp > 0}">
                                    <th scope="row">Scoring Champ.</th>
                                    <td th:text="${player.achievements.scoringChamp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.reboundChamp > 0}">
                                    <th scope="row">Rebound Champ.</th>
                                    <td th:text="${player.achievements.reboundChamp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.assistChamp > 0}">
                                    <th scope="row">Assist Champ.</th>
                                    <td th:text="${player.achievements.assistChamp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.stealsChamp > 0}">
                                    <th scope="row">Steal Champ.</th>
                                    <td th:text="${player.achievements.stealsChamp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.blocksChamp > 0}">
                                    <th scope="row">Block Champ.</th>
                                    <td th:text="${player.achievements.blocksChamp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.defensivePlayerOfTheYear > 0}">
                                    <th scope="row">DPOY</th>
                                    <td th:text="${player.achievements.defensivePlayerOfTheYear}"></td>
                                </tr>
                                <tr th:if="${player.achievements.allNba > 0}">
                                    <th scope="row">All NBA</th>
                                    <td th:text="${player.achievements.allNba}"></td>
                                </tr>
                                <tr th:if="${player.achievements.allDefensive > 0}">
                                    <th scope="row">All Defensive</th>
                                    <td th:text="${player.achievements.allDefensive}"></td>
                                </tr>
                                <tr th:if="${player.achievements.allStar > 0}">
                                    <th scope="row">All Star</th>
                                    <td th:text="${player.achievements.allStar}"></td>
                                </tr>
                                <tr th:if="${player.achievements.allStarMvp > 0}">
                                    <th scope="row">All Star MVP</th>
                                    <td th:text="${player.achievements.allStarMvp}"></td>
                                </tr>
                                <tr th:if="${player.achievements.rookieOfTheYear > 0}">
                                    <th scope="row">ROY</th>
                                    <td th:text="${player.achievements.rookieOfTheYear}"></td>
                                </tr>
                                <tr th:if="${player.achievements.mostImprove > 0}">
                                    <th scope="row">Most Improved</th>
                                    <td th:text="${player.achievements.mostImprove}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="card-body">
                            <table class="table table-striped table-hover table-sm">
                                <caption>Career stats</caption>
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">Per Game</th>
                                    <th scope="col">Points</th>
                                    <th scope="col">Assists</th>
                                    <th scope="col">Rebounds</th>
                                    <th scope="col">Steels</th>
                                    <th scope="col">Blocks</th>
                                    <th scope="col">Turnovers</th>
                                    <th scope="col" title="Player Efficiency Rating">PER</th>
                                    <th scope="col" title="Win Shares /48 minutes">WS/48</th>
                                    <th scope="col" title="Box Plus/Minus">BPM</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Regular season</th>
                                    <td th:text="${player.careerPerGame.ptsPerGame}"></td>
                                    <td th:text="${player.careerPerGame.astPerGame}"></td>
                                    <td th:text="${player.careerPerGame.trbPerGme}"></td>
                                    <td th:text="${player.careerPerGame.stlPerGame}"></td>
                                    <td th:text="${player.careerPerGame.blkPerGame}"></td>
                                    <td th:text="${player.careerPerGame.tovPerGame}"></td>
                                    <td th:text="${player.careerPerGame.per}"></td>
                                    <td th:text="${player.careerPerGame.wsPer48}"></td>
                                    <td th:text="${player.careerPerGame.bpm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Playoff</th>
                                    <td th:text="${player.playoffsPerGame.ptsPerGame}"></td>
                                    <td th:text="${player.playoffsPerGame.astPerGame}"></td>
                                    <td th:text="${player.playoffsPerGame.trbPerGme}"></td>
                                    <td th:text="${player.playoffsPerGame.stlPerGame}"></td>
                                    <td th:text="${player.playoffsPerGame.blkPerGame}"></td>
                                    <td th:text="${player.playoffsPerGame.tovPerGame}"></td>
                                    <td th:text="${player.playoffsPerGame.per}"></td>
                                    <td th:text="${player.playoffsPerGame.wsPer48}"></td>
                                    <td th:text="${player.playoffsPerGame.bpm}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-hover table-sm">
                                <caption>Shooting</caption>
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">Per Game</th>
                                    <th scope="col" title="Field Goal Percentage">FG%</th>
                                    <th scope="col" title="Free Throws Percentage">FT%</th>
                                    <th scope="col" title="3-Point Field Goal Percentage">3P%</th>
                                    <th scope="col" title="Effective Field Goal Percentage">eFG%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Regular season</th>
                                    <td th:text="${player.careerPerGame.fgPct}"></td>
                                    <td th:text="${player.careerPerGame.ftPct}"></td>
                                    <td th:text="${player.careerPerGame.fg3Pct}"></td>
                                    <td th:text="${player.careerPerGame.efgPct}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Playoff</th>
                                    <td th:text="${player.playoffsPerGame.fgPct}"></td>
                                    <td th:text="${player.playoffsPerGame.ftPct}"></td>
                                    <td th:text="${player.playoffsPerGame.fg3Pct}"></td>
                                    <td th:text="${player.playoffsPerGame.efgPct}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">External links</h5>
                    <p class="card-text"></p>
                    <i class='fas fa-external-link-alt'></i>
                    <a target="_blank" th:href="${playerData.externalLink}" class="">basketball-reference</a>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block layout:fragment="script">

    <script th:inline="javascript">

    function updateRank(playerId) {
        $('#playerId').val(playerId);
        $('#rank').val($("#ex6").val());
        console.log($('#playerId').val(), $('#rank').val() )
        $('#update-rank-form').attr('action', '/ranking/my-list/update').submit();
    }

    function removeRank(playerId, rank) {
        $('#playerId').val(playerId);
        $('#rank').val($("#ex6").val());
        console.log($('#playerId').val(), $('#rank').val() )
        $('#update-rank-form').attr('action', '/ranking/my-list/remove').submit();
    }

    $(document).ready(function() {
        console.log("Ready!");

        $("#ex6").slider();

        $("#ex6").on("slide", function(slideEvt) {
            $("#ex6SliderVal").text(slideEvt.value);
        });
    });

    </script>

</th:block>

</body>
</html>