<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row align-items-md-stretch">
            <div class="col">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Hi <span th:text="${#authentication.getPrincipal().getName()}"></span></h2>
                    <p>Hope you are enjoying your stay <i class="fa-solid fa-face-smile"></i></p>
                </div>
            </div>
        </div>

        <div class="col mt-4 rounded-3"
             th:style="'background-image: url(' + @{/static/bg} + ' ); background-size: 100% 100%; min-height:618px; border: 1px solid #000;'"></div>

    </div>
</div>

<th:block layout:fragment="script"></th:block>


</body>
</html>