<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/ranking/editors-choice">Editor's choice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/ranking/lists">All Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ranking/my-list">My List</a>
            </li>
        </ul>

        <div class="p-4 bg-light rounded-3">
            <div th:if="${page.getTotalElements() == 0}">
                <h3>No lists yet...</h3>
                <div class="col mt-4"
                     th:style="'background-image: url(' + @{/static/bg} + ' ); background-size: 100% 100%; min-height:700px; border: 1px solid #000;'">
                </div>
            </div>

            <div th:if="${page.getTotalElements() > 0}">
                <h3 >All Lists</h3>

                <div class="mt-4">
                    <div class="row">
                        <div class="card p-0"
                             th:each="rankList, iStat : ${page.content}"
                             th:style="${iStat.odd}? 'font-weight: bold;'">

                            <div class="card-header">
                                List by:
                                <img th:src="${rankList.user.imageUrl}" class="img-thumbnail rounded-circle"
                                     style="width:75px;"/>
                                <span th:text="${rankList.user.name}"></span>
                            </div>

                            <ul class="list-group list-group-flush list-group-horizontal">
                                <li class="list-group-item list-group-item-action list-group-item-light"
                                    th:each="item,pStat : ${rankList.sortedRankListItems}"
                                    th:unless="${pStat.index > 5}">
                                    <i th:if="${item.rank < 5}" th:class="'fa-solid fa-'+${item.rank}" style='font-size:24px'></i>
                                    <i th:unless="${item.rank < 5}" th:class="'fa-solid fa-question'" style='font-size:24px'></i>
                                    <img th:if="${item.player.playerInfo.imageUrl}"
                                         class="img-fluid rounded-start"
                                         th:src="${item.player.playerInfo.imageUrl}"
                                         th:title="${item.player.playerInfo.fullName}">
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-light">
                                    <i class="fa-solid fa-question" style='font-size:24px'></i>
                                    <a th:href="'/ranking/lists/' + ${rankList.id}"
                                        aria-current="true">
                                        <img th:src="@{/images/player-icon-2.png}"
                                             class="img-fluid rounded-start"
                                             alt="Photo of Some player">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul class="pagination mt-3">
                        <li class="page-item" th:if="${page.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                            <a th:href="@{/ranking/lists(size=${page.size}, page=${pageNumber})}"
                               th:text=${pageNumber}
                               th:class="${pageNumber==page.number + 1} ? 'page-link active':'page-link'"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>



        <div class="alert alert-success mt-4" role="alert">
            <h4 class="alert-heading"><i class="fa-solid fa-circle-info"></i> Heads up!</h4>
            <p>
                We are working on the next Ranker generation. Not just all time the greatest list, but you'll be able to create list by:
                <ul>
                    <li>position</li>
                    <li>statistic threshold</li>
                    <li>active - current players</li>
                    <li>and more!</li>
                </ul>
            </p>
            <hr>
            <p class="mb-0">So stay tuned.</p>
        </div>

    </div>
</div>

<th:block layout:fragment="script">

    <script th:inline="javascript">
    $(document).ready(function() {
        console.log("Ready!");
    });

    </script>

</th:block>

</body>
</html>